{% extends "fastboot.jinja2" %}

{% set DEPLOY_TARGET = DEPLOY_TARGET|default("downloads") %}
{% set DOCKER_IMAGE = DOCKER_IMAGE|default("roxell/kir") %}

{% block deploy_target %}
{{ super() }}
        steps:
{% if rootfs == true %}
        - cd /lava-lxc
        - overlay_file=/lava-lxc/overlays/target/overlay.tar.gz
        - overlay_size=$(gzip -l $overlay_file | tail -1 | awk '{print $2}')
        - overlay_size=$(( $overlay_size / 1024 ))
        - simg2img {{DOCKER_ROOTFS_FILE}} {{DOCKER_ROOTFS_FILE}}.ext4
        - free_blocks=$(dumpe2fs -h {{DOCKER_ROOTFS_FILE}}.ext4 | grep "Free blocks" | awk '{print $3}')
        - block_size=$(dumpe2fs -h {{DOCKER_ROOTFS_FILE}}.ext4 | grep "Block size" | awk '{print $3}')
        - free_size=$(( $block_size * $free_blocks / 1024 ))
        - if [ "$free_size" -lt "$overlay_size" ]; then
        -    block_count=$(dumpe2fs -h {{DOCKER_ROOTFS_FILE}}.ext4 | grep "Block count" | awk '{print $3}')
        -    current_size=$(( $block_size * $block_count / 1024 ))
        -    extra_size=32768
        -    final_size=$(( $current_size + $overlay_size + $extra_size ))
        -    fsck_code=$(e2fsck -y -f {{DOCKER_ROOTFS_FILE}}.ext4)
        -    resize2fs {{DOCKER_ROOTFS_FILE}}.ext4 "$final_size"K
        -    img2simg {{DOCKER_ROOTFS_FILE}}.ext4 {{DOCKER_ROOTFS_FILE}}
        -    echo "resize_rootfs:" "pass"
        - else
        -    echo "resize_rootfs:" "skip"
        - fi
{% endif %}

{% if apply_overlay_bootimg is defined and apply_overlay_bootimg == true %}
        - overlay_file=/lava-lxc/overlays/target/overlay.tar.gz
        - if [ -f $overlay_file ]
        - then
        -     configs_dir=$(mktemp -d /tmp/configs.XXXX)
        -     git clone --depth 1 http://git.linaro.org/ci/job/configs.git $configs_dir
        -     $configs_dir/lt-qcom-linux-test/copy_test_overlay.sh /lava-lxc/{{DOCKER_BOOT_FILE}} $overlay_file
        -     echo "apply_test_overlay_bootimg:" "pass"
        - else
        -     echo "apply_test_overlay_bootimg:" "skip"
        - fi
{% endif %}

- deploy:
    timeout:
      minutes: 40
    to: fastboot
    docker:
      image: {{DOCKER_IMAGE}}
    images:
      boot:
        url: downloads:///{{DOCKER_BOOT_FILE}}
{% if rootfs == true %}
      {{ rootfs_label }}:
        url: downloads:///{{DOCKER_ROOTFS_FILE}}
        apply-overlay: true
{% endif %}
    os: {{DEPLOY_OS}}
{% endblock deploy_target %}

{% block metadata %}
  source: https://git.linaro.org/ci/job/configs.git
  path: lt-qcom/lava-job-definitions/
{% endblock metadata %}
