{% extends "include/fastboot.jinja2" %}

{% set rootfs = rootfs|default(false) %}
{% set DEPLOY_TARGET = DEPLOY_TARGET|default("downloads") %}
{% set target_deploy_timeout = target_deploy_timeout |default(35) %}
{% set deploy_fastboot_timeout = deploy_fastboot_timeout|default(10) %}

{% set LAVA_JOB_VISIBILITY = LAVA_JOB_VISIBILITY|default("group") %}
{% set LAVA_JOB_VISIBILITY_GROUPS = LAVA_JOB_VISIBILITY_GROUPS|default(["lkft"]) %}

{# force all the lkft-android jobs to be run with the docker method #}
{% set USE_DOCKER_IMAGE_TEST_TARGET = true %}

{% set DOCKER_PTABLE_FILE = DOCKER_PTABLE_FILE|default("ptable-linux-8g.img") %}
{% set DOCKER_BOOT_FILE = DOCKER_BOOT_FILE|default("boot.img") %}
{# use the same file name as for boot partition if no boot_a or boot_b images #}
{% set DOCKER_BOOT_A_FILE = DOCKER_BOOT_A_FILE|default(DOCKER_BOOT_FILE) %}
{% set DOCKER_BOOT_B_FILE = DOCKER_BOOT_B_FILE|default(DOCKER_BOOT_FILE) %}
{% set DOCKER_VBMETA_FILE = DOCKER_VBMETA_FILE|default("vbmeta.img") %}
{# use the same file name as for vbmeta partition if no vbmeta_a or vbmeta_b images #}
{% set DOCKER_VBMETA_A_FILE = DOCKER_VBMETA_A_FILE|default(DOCKER_VBMETA_FILE) %}
{% set DOCKER_VBMETA_B_FILE = DOCKER_VBMETA_B_FILE|default(DOCKER_VBMETA_FILE) %}
{% set DOCKER_SUPER_FILE = DOCKER_SUPER_FILE|default("super.img") %}
{% set DOCKER_SYSTEM_FILE = DOCKER_SYSTEM_FILE|default("system.img") %}
{% set DOCKER_VENDOR_FILE = DOCKER_VENDOR_FILE|default("vendor.img") %}
{% set DOCKER_VENDOR_BOOT_FILE = DOCKER_VENDOR_BOOT_FILE|default("vendor_boot.img") %}
{% set DOCKER_CACHE_FILE = DOCKER_CACHE_FILE|default("cache.img") %}
{% set DOCKER_METADATA_FILE = DOCKER_METADATA_FILE|default("metadata.img") %}
{% set DOCKER_RECOVERY_FILE = DOCKER_RECOVERY_FILE|default("recovery.img") %}
{% set DOCKER_USERDATA_FILE = DOCKER_USERDATA_FILE|default("userdata.img") %}

{# set variable values used by the include/fastboot.jinja2 postprocess, #}
{# partition specific flags related to postprocess will be set #}
{# in the device file accordingly #}
{% set download_postprocess_required = download_postprocess_required|default(false) %}
{% if TUXSUITE_BAKE_VENDOR_DOWNLOAD_URL is defined %}
{% set download_postprocess_required = true %}
{% set DOCKER_IMAGE_POSTPROCESS = DOCKER_IMAGE_POSTPROCESS|default("linaro/lava-android-postprocess:bulleye-2023.09.14-01") %}
{% endif %}

{% set DOCKER_IMAGE_TEST = DOCKER_IMAGE_TEST|default("linaro/lava-android-test:focal-2023.10.18-01") %}
{% set DOCKER_IMAGE_DEPLOY = DOCKER_IMAGE_DEPLOY|default("linaro/lava-android-test:focal-2023.10.18-01") %}
{% set DOCKER_IMAGE_BOOT = DOCKER_IMAGE_BOOT|default("linaro/lava-android-test:focal-2023.10.18-01") %}
{#################### job definitions ##########################}
{% block global_settings %}
{{ super() }}
{% block secrets %}
secrets:
  ARTIFACTORIAL_TOKEN: "{{ ARTIFACTORIAL_TOKEN }}"
{% endblock secrets %}
{% endblock global_settings %}

{% block metadata %}
{% include PROJECT+"include/metadata.jinja2" %}
{% endblock metadata %}

{% block deploy_target %}
{{ super() }}

{% if DEPLOY_TARGET == "downloads" %}
{% if TUXSUITE_BAKE_VENDOR_DOWNLOAD_URL is defined %}
        steps:
{% if BUILD_REFERENCE_IMAGE_GZ_URL is defined %}
        - linaro-lkft-android.sh -g -k {{BUILD_REFERENCE_IMAGE_GZ_URL}} -v {{TUXSUITE_BAKE_VENDOR_DOWNLOAD_URL}} -c {{LKFT_BUILD_CONFIG}}
{% else %}
        - linaro-lkft-android.sh -g -v {{TUXSUITE_BAKE_VENDOR_DOWNLOAD_URL}} -c {{LKFT_BUILD_CONFIG}}
{% endif %}
{% endif %}

{% block deploy_fastboot %}
- deploy:
    timeout:
      minutes: {{ deploy_fastboot_timeout }}
    to: fastboot
    docker:
      image: {{ DOCKER_IMAGE_DEPLOY }}
      local: true
    images:
{% if ptable == true %}
      {{ PTABLE_LABEL }}:
        url: downloads://{{ DOCKER_PTABLE_FILE }}
{% endif %}
{# only deploy to the boot partition when A/B partition not supported #}
{% if boot == true %}
      {{ BOOT_LABEL }}:
        url: downloads://{{ DOCKER_BOOT_FILE }}
{% endif %}
{% if partition_boot_b == true %}
      boot_b:
        url: downloads://{{ DOCKER_BOOT_B_FILE }}
{% endif %}
{% if partition_super == true %}
      super:
        url: downloads://{{ DOCKER_SUPER_FILE }}
{% endif %}
{% if partition_system == true %}
      system:
        url: downloads://{{ DOCKER_SYSTEM_FILE }}
{% endif %}
{% if partition_vendor == true %}
      vendor:
        url: downloads://{{ DOCKER_VENDOR_FILE }}
{% endif %}
{% if partition_vendor_boot == true %}
      vendor_boot:
        url: downloads://{{ DOCKER_VENDOR_BOOT_FILE }}
{% endif %}
{% if partition_cache == true %}
      cache:
        url: downloads://{{ DOCKER_CACHE_FILE }}
{% endif %}
{% if partition_vbmeta_a == true %}
      vbmeta_a:
        url: downloads://{{ DOCKER_VBMETA_FILE }}
{% endif %}
{% if partition_vbmeta_b == true %}
      vbmeta_b:
        url: downloads://{{ DOCKER_VBMETA_FILE }}
{% endif %}
{% if partition_recovery == true %}
      recovery:
        url: downloads://{{ DOCKER_RECOVERY_FILE }}
{% endif %}
{% if partition_userdata == true %}
      userdata:
        url: downloads://{{ DOCKER_USERDATA_FILE }}
{% endif %}
{% endblock deploy_fastboot %}
{% endif %}
{% endblock deploy_target %}

{% block post_boot_command %}
{% include PROJECT+"include/lkft-common-actions.jinja2" %}
{% endblock post_boot_command %}
