{% extends "testcases/master/template-master.jinja2" %}

{% set KERNEL_BRANCH = KERNEL_BRANCH|default("") %}
{% set OS_INFO = OS_INFO|default("") %}

{% set test_name = "mmtests-" + config_file|replace('configs/config-', '') %}

{% block test_target %}
  {{ super() }}
{% block test_target_prep %}
{% endblock test_target_prep %}
    - repository: {{ TEST_DEFINITIONS_REPOSITORY }}
      from: git
      path: automated/linux/mmtests/mmtests.yaml
      parameters:
        SKIP_INSTALL: 'true'
        MMTESTS_CONFIG_FILE: '{{ config_file }}'
        MMTESTS_ITERATIONS: '{{ mmtests_iterations }}'
      name: mmtests-{{ config_file|replace('configs/config-', '')  }}
{% endblock test_target %}
