{% extends device_type %}

{% set PROJECT_NAME = PROJECT_NAME|default("") %}
{% set BUILD_NUMBER = BUILD_NUMBER|default("") %}
{% set KERNEL_BRANCH = KERNEL_BRANCH|default("unknown") %}
{% set OS_INFO = OS_INFO|default("") %}

{# with the BUILD_NUMBER in the middle, it's possible to get #}
{# the sub job name(which is the test_name here) #}
{# from this lava job name information #}
{% block job_name %}{{PROJECT_NAME}}-{{OS_INFO}}-{{KERNEL_BRANCH}}-{{BUILD_NUMBER}}-{{test_name}}{% endblock job_name %}

{% block context %}
{{ super() }}
  {%- if EXTRA_KERNEL_ARGS is defined %}
  extra_kernel_args: '{{EXTRA_KERNEL_ARGS}}'
  {%- endif %}
{% endblock context %}
