{% extends "testcases/master/template-master.jinja2" %}

{% set LAVA_TEST_NAME_SUFFIX = LAVA_TEST_NAME_SUFFIX|default("") %}
{% set test_target_redirect_to_kmsg = test_target_redirect_to_kmsg|default(true) %}

{% set test_name = "ltp-" + testnames|join('-') + LAVA_TEST_NAME_SUFFIX %}

{% block metadata %}
  {{ super() }}
{% for testname in testnames %}
  ltp-{{testname}}-tests__url: "{{LTP_URL | default('unknown')}}"
  ltp-{{testname}}-tests__version: "{{LTP_VERSION | default('unknown')}}"
  ltp-{{testname}}-tests__revision: "{{LTP_REVISION | default('unknown')}}"
{% endfor %}
{% endblock metadata %}

{% block test_target %}
  {{ super() }}
{% block test_target_prep %}
{% endblock test_target_prep %}
{% for testname in testnames %}
    - repository: {{ TEST_DEFINITIONS_REPOSITORY }}
      from: git
{% if test_target_redirect_to_kmsg is defined and test_target_redirect_to_kmsg %}
      lava-signal: kmsg
{% endif %}
      path: automated/linux/ltp/ltp.yaml
      parameters:
        SKIP_INSTALL: 'true'
        TST_CMDFILES: '{{testname}}'
        SKIPFILE: skipfile-lkft.yaml
        BOARD: '{{ DEVICE_TYPE }}'
        BRANCH: '{{ SKIPGEN_KERNEL_VERSION|default('default') }}'
        ENVIRONMENT: '{{ ENVIRONMENT|default('production') }}'
        TIMEOUT_MULTIPLIER: '{{ TIMEOUT_MULTIPLIER|default('10') }}'
        LTP_TMPDIR: '/scratch'
      name: ltp-{{testname|replace('.','-')}}{{LAVA_TEST_NAME_SUFFIX}}
{% endfor %}
{% endblock test_target %}
