  android.build: "{{ BUILD_NUMBER | default('unknown')}}"
  android.name: "{{ JOB_NAME | default('unknown')}}"
  android.url: "{{ REFERENCE_BUILD_URL | default('unknown')}}"
  android.version: "{{ ANDROID_VERSION | default('unknown')}}"
{% if ANDROID_VENDOR_FINGERPRINT is defined %}
  android.build.vendor.fingerprint: "{{ ANDROID_VENDOR_FINGERPRINT }}"
{% endif %}
{% if ANDROID_GSI_FINGERPRINT is defined %}
  android.build.gsi.url: "{{ ANDROID_GSI_URL }}"
  android.build.gsi.fingerprint: "{{ ANDROID_GSI_FINGERPRINT }}"
{% endif %}
{% if TUXSUITE_DOWNLOAD_URL is defined %}
  tuxsuite.download.url: "{{ TUXSUITE_DOWNLOAD_URL }}"
{% endif %}
  lkft.build.config: "{{ LKFT_BUILD_CONFIG | default('unknown')}}"
  git branch: "{{ KERNEL_BRANCH | default('unknown')}}"
  git repo: "{{ KERNEL_REPO | default('unknown')}}"
  git commit: "{{ KERNEL_COMMIT | default('unknown')}}"
  git describe: "{{ KERNEL_DESCRIBE | default('unknown')}}"
  build-url: "{{ BUILD_URL | default('unknown')}}"
