{% extends "master.jinja2" %}

{% set use_context = true %}

{% if install_packages is undefined %}{% set install_packages = true %}{% endif %}
{% if install_fastboot is undefined %}{% set install_fastboot = true %}{% endif %}
{% if ptable is undefined %}{% set ptable = false %}{% endif %}
{% if boot is undefined %}{% set boot = true %}{% endif %}
{% if BOOT_LABEL is undefined %}{% set BOOT_LABEL = "boot" %}{% endif %}
{% if rootfs is undefined %}{% set rootfs = true %}{% endif %}
{% if rootfs_label is undefined %}{% set rootfs_label = 'rootfs' %}{% endif %}
{% if apply_overlay is undefined %}{% set apply_overlay = "rootfs" %}{% endif %}
{% if deploy_target is undefined %}{% set deploy_target = "fastboot" %}{% endif %}
{% if pre_power_command is undefined %}{% set pre_power_command = true %}{% endif %}
{% if pre_os_command is undefined %}{% set pre_os_command = true %}{% endif %}
{% if auto_login is undefined %}{% set auto_login = true %}{% endif %}
{% if boot_method is undefined %}{% set boot_method = "fastboot" %}{% endif %}



{% block context %}
  test_character_delay: 10
{% endblock context %}

{% block protocols %}
protocols:
  lava-lxc:
    name: lxc-target
    template: debian
    distribution: debian
    release: buster
    arch: amd64
    mirror: http://deb.debian.org/debian
{% endblock protocols %}

{% block actions %}
{% block lxc %}
- deploy:
    namespace: tlxc
    timeout:
      minutes: {{ lxc_deploy_timeout }}
    to: lxc
    packages:
    - wget
    - unzip
{% if install_packages == true %}
    - abootimg
    - android-tools-fsutils
    - cpio
    - curl
    - e2fsprogs
    - file
    - git
    - libguestfs-tools
    - mkbootimg
    - xz-utils
{% endif %}
    os: debian

- boot:
    namespace: tlxc
    prompts:
    - 'root@(.*):/#'
    timeout:
      minutes: {{ lxc_boot_timeout }}
    method: lxc

{% if install_fastboot == true %}
- test:
    namespace: tlxc
    timeout:
      minutes: {{ lxc_install_fastboot_timeout }}
    definitions:
    - repository: https://github.com/Linaro/test-definitions.git
      from: git
      path: automated/linux/android-platform-tools/install.yaml
      name: install-android-platform-tools-r2800
      parameters:
        LINK: 'https://dl.google.com/android/repository/platform-tools_r28.0.0-linux.zip'
{% endif %}
{% endblock lxc %}

{% block deploy_target %}
- deploy:
    timeout:
      minutes: {{ target_deploy_timeout }}
    to: {{ deploy_target }}
    namespace: target
    images:
{% if ptable == true %}
      ptable:
        url: {{PTABLE_URL}}
{% if PTABLE_URL_COMP is defined %}
        compression: {{PTABLE_URL_COMP}}
{% endif %}
{% endif %}
{% if boot == true %}
      {{ BOOT_LABEL }}:
        url: {{BOOT_URL}}
{% block kernel_extra_args %}
{% endblock kernel_extra_args %}
{% if BOOT_URL_COMP is defined %}
        compression: {{BOOT_URL_COMP}}
{% endif %}
{% if apply_overlay == "bootimg" %}
        apply-overlay: true
{% endif %}
{% block boot_extra_args %}
{% endblock boot_extra_args %}
{% if BOOT_LABEL != "kernel" and KERNEL_URL is defined %}
      kernel:
        url: {{KERNEL_URL}}
{% if KERNEL_URL_COMP is defined %}
        compression: {{KERNEL_URL_COMP}}
{% endif %}
{% endif %}
{% endif %}
{% if DTB_URL is defined %}
      dtb:
        url: {{DTB_URL}}
{% endif %}
{% if MODULES_URL is defined %}
      modules:
        url: {{MODULES_URL}}
{% if MODULES_URL_COMP is defined %}
        compression: {{MODULES_URL_COMP}}
{% endif %}
{% endif %}
{% if rootfs == true %}
      {{ rootfs_label }}:
        url: {{ROOTFS_URL}}
{% if ROOTFS_URL_COMP is defined %}
        compression: {{ROOTFS_URL_COMP}}
{% endif %}
{% if apply_overlay == "rootfs" %}
        apply-overlay: true
{% endif %}
{% block rootfs_extra_args %}
{% endblock rootfs_extra_args %}
{% endif %}
    os: {{DEPLOY_OS}}
{% endblock deploy_target %}

{% block boot_target %}
- boot:
    namespace: target
{% if auto_login == true %}
    auto_login:
      login_prompt: "{{ AUTO_LOGIN_PROMPT }}"
      username: "{{ AUTO_LOGIN_USERNAME }}"
{% block auto_login_commands %}
{% endblock auto_login_commands %}
{% endif %}
    prompts:
    - 'root@(.*):[/~]#'
    - "{{BOOT_OS_PROMPT}}"
    timeout:
      minutes: {{ target_boot_timeout }}
    method: {{ boot_method }}
{% block boot_commands %}
{% endblock boot_commands %}
{% if pre_os_command == true %}
    protocols:
      lava-lxc:
      - action: auto-login-action
        request: pre-os-command
        timeout:
          minutes: 2
{% endif %}
{% endblock boot_target %}

{% block test_lxc %}
{% endblock test_lxc %}

{% block test_target %}
- test:
    namespace: target
    timeout:
      minutes: {{ test_timeout }}
    definitions:
{% endblock test_target %}

{% endblock actions %}
