{% extends "lkft.jinja2" %}

{% if install_packages is undefined %}{% set install_packages = true %}{% endif %}
{% if install_fastboot is undefined %}{% set install_fastboot = true %}{% endif %}

{% block global_settings %}
{{ super() }}
context:
  test_character_delay: 10
{% endblock global_settings %}

{% block protocols %}
protocols:
  lava-lxc:
    name: lxc-target
    template: debian
    distribution: debian
    release: jessie
    arch: amd64
    mirror: http://deb.debian.org/debian
{% endblock protocols %}

{% block actions %}
- deploy:
    namespace: tlxc
    timeout:
      minutes: 15
    to: lxc
    packages:
    - wget
    - unzip
{% if install_packages == true %}
    - img2simg
    - simg2img
    - e2fsprogs
    - gzip
    - cpio
    - git
    - mktemp
    - abootimg
{% endif %}
    os: debian

- boot:
    namespace: tlxc
    prompts:
    - 'root@(.*):/#'
    timeout:
      minutes: 5
    method: lxc

{% if install_fastboot == true %}
- test:
    namespace: tlxc
    timeout:
      minutes: 10
    definitions:
    - repository: https://github.com/Linaro/test-definitions.git
      from: git
      path: automated/linux/android-platform-tools/install.yaml
      name: install-android-platform-tools-r2600
      parameters:
        LINK: 'https://dl.google.com/android/repository/platform-tools_r26.0.0-linux.zip'
{% endif %}

{% block deploy_target %}
{% endblock deploy_target %}

{% block boot_target %}
{% endblock boot_target %}

{% block test_lxc %}
{% endblock test_lxc %}

{% block test_target %}
- test:
    namespace: target
    timeout:
      minutes: {% if job_timeout is defined %}{{ job_timeout }}{% else %}60{% endif %}
    definitions:
{% endblock test_target %}

{% endblock actions %}
