{% extends "master.jinja2" %}

{# timeouts #}
{% if lxc_deploy_timeout is undefined %}{% set lxc_deploy_timeout = 15 %}{% endif %}
{% if lxc_boot_timeout is undefined %}{% set lxc_boot_timeout = 5 %}{% endif %}
{% if lxc_install_fastboot_timeout is undefined %}{% set lxc_install_fastboot_timeout = 10 %}{% endif %}
{% if target_deploy_timeout is undefined %}{% set target_deploy_timeout = 40 %}{% endif %}
{% if target_boot_timeout is undefined %}{% set target_boot_timeout = 15 %}{% endif %}
{% if test_timeout is undefined %}{% set test_timeout = 60 %}{% endif %}
{% set job_timeout = lxc_deploy_timeout + lxc_boot_timeout + lxc_install_fastboot_timeout + target_deploy_timeout + target_boot_timeout + test_timeout %}

{% block global_settings %}
timeouts:
  job:
    minutes: {% if job_timeout is defined %}{{ job_timeout }}{% else %}20{% endif %}
  connection:
    minutes: 2

{% block settings %}
{% endblock settings %}
{% endblock global_settings %}

{% block priority %}{{LAVA_JOB_PRIORITY}}{% endblock priority %}
{% block visibility %}{% if LAVA_JOB_VISIBILITY is undefined %}public{% else %}{{LAVA_JOB_VISIBILITY}}{% endif %}{% endblock visibility %}

{% block metadata %}
  git branch: {{KERNEL_BRANCH}}
  git repo: {{KERNEL_REPO}}
  git commit: {{KERNEL_COMMIT}}
  git describe: {{KERNEL_DESCRIBE}}
  make_kernelversion: "{{MAKE_KERNELVERSION}}"
  kernel-config: {{KERNEL_CONFIG_URL}}
  kernel-defconfig: {{KERNEL_DEFCONFIG_URL}}
  build-url: {{BUILD_URL}}
  build-location: {{BASE_URL}}/{{PUB_DEST}}
  toolchain: {{TOOLCHAIN | default('unknown')}}
  series: lkft
  email-notification: {{CI_MAIL_RECIPIENTS | default('""')}}
{% endblock metadata %}
