{% extends "master.jinja2" %}

{% block metadata %}
{% include "lkft-metadata.jinja2" %}
{% endblock metadata %}

{% set lxc_deploy_timeout = 0 %}
{% set lxc_boot_timeout = 0 %}
{% set lxc_install_fastboot_timeout = 0 %}

{% block actions %}

{% block deploy_target %}
- deploy:
    namespace: target
    timeout:
      minutes: {{ target_deploy_timeout }}
    to: tftp
    kernel:
      url: {{KERNEL_URL}}
{% if KERNEL_URL_COMP is defined %}
      compression: {{KERNEL_URL_COMP}}
{% endif %}
{% block kernel_extra_args %}
{% endblock kernel_extra_args %}
{% if DTB_URL is defined %}
    dtb:
      url: {{DTB_URL}}
{% endif %}
{% if MODULES_URL is defined %}
    modules:
      url: {{MODULES_URL}}
{% if MODULES_URL_COMP is defined %}
      compression: {{MODULES_URL_COMP}}
{% endif %}
{% endif %}
{% if OPTEE_URL is defined %}
    optee:
      url: {{OPTEE_URL}}
{% endif %}
{% if UBOOT_URL is defined %}
    uboot:
      url: {{UBOOT_URL}}
{% endif %}
{% if rootfs == true %}
    {{ rootfs_label }}:
      url: {{ROOTFS_URL}}
{% if ROOTFS_URL_COMP is defined %}
      compression: {{ROOTFS_URL_COMP}}
{% endif %}
{% endif %}
    os: {{DEPLOY_OS}}
{% endblock deploy_target %}

{% block boot_target %}
- boot:
    namespace: target
{% if auto_login == true %}
    auto_login:
      login_prompt: "{{ AUTO_LOGIN_PROMPT }}"
      username: "{{ AUTO_LOGIN_USERNAME }}"
{% if auto_login_password_prompt is defined %}
      password_prompt: "{{ auto_login_password_prompt }}"
{% endif %}
{% if auto_login_password is defined %}
      password: "{{ auto_login_password }}"
{% endif %}
{% block auto_login_commands %}
{% endblock auto_login_commands %}
{% endif %}
    prompts:
{% if BOOT_OS_PROMPT is defined %}
{% if BOOT_OS_PROMPT is not string and BOOT_OS_PROMPT is sequence %}
{% for boot_prompt in BOOT_OS_PROMPT %}
    - "{{boot_prompt}}"
{% endfor %}
{% else %}
    - "{{BOOT_OS_PROMPT}}"
{% endif %}
{% endif %}
    - 'root@(.*):[/~]#'
    timeout:
      minutes: {{ target_boot_timeout }}
    method: {{ boot_method }}
{% block boot_commands %}
{% endblock boot_commands %}
{% endblock boot_target %}

{% block test_target %}
- test:
    namespace: target
    timeout:
      minutes: {{ test_timeout }}
{% if test_target_interactive is undefined %}
    definitions:
{% endif %}
{% endblock test_target %}

{% endblock actions %}
