{# timeouts #}
{% set lxc_deploy_timeout = lxc_deploy_timeout|default(15) %}
{% set lxc_boot_timeout = lxc_boot_timeout|default(5) %}
{% set lxc_install_fastboot_timeout = lxc_install_fastboot_timeout|default(10) %}
{% set lxc_test_timeout = lxc_test_timeout|default(60) %}
{% set target_deploy_timeout = target_deploy_timeout|default(40) %}
{% set target_boot_timeout = target_boot_timeout|default(15) %}
{% set test_timeout = test_timeout|default(60) %}

{% set job_timeout = lxc_deploy_timeout + lxc_boot_timeout + lxc_install_fastboot_timeout + target_deploy_timeout + target_boot_timeout + test_timeout %}

{# auto_login_* #}
{% set AUTO_LOGIN_PROMPT = AUTO_LOGIN_PROMPT|default("login:") %}
{% set AUTO_LOGIN_USERNAME = AUTO_LOGIN_USERNAME|default("root") %}
{% set AUTO_LOGIN_PASSWORD_PROMPT = AUTO_LOGIN_PASSWORD_PROMPT|default("") %}
{% set AUTO_LOGIN_PASSWORD = AUTO_LOGIN_PASSWORD|default("") %}

{% block global_settings %}
timeouts:
  job:
    minutes: {% if job_timeout is defined %}{{ job_timeout }}{% else %}20{% endif %}
  connection:
    minutes: 2

{% if use_context is defined and use_context == true %}
context:
{% block context %}
{% endblock context %}
{% endif %}

{% block settings %}
{% endblock settings %}
{% endblock global_settings %}


{% set LAVA_JOB_VISIBILITY = LAVA_JOB_VISIBILITY|default("public") %}
device_type: {% block device_type %}{% endblock %}
job_name: {% block job_name %}{% endblock %}
priority: {% block priority %}{{LAVA_JOB_PRIORITY}}{% endblock priority %}
visibility: {% block visibility %}{{LAVA_JOB_VISIBILITY}}{% endblock visibility %}

{# variables #}
{% set rootfs = rootfs|default(true) %}
{% set rootfs_label = rootfs_label|default('rootfs') %}

{% block tags %}
{% if TAGS is defined and TAGS is sequence and TAGS is not string %}
tags:
{% for tag in TAGS %}
{% if tag|length %}
  - {{ tag }}
{% endif %}
{% endfor %}
{% endif %}
{% endblock tags %}

metadata:
{% block metadata %}
{% endblock metadata %}

{% block protocols %}
{% endblock protocols %}

actions:
{% block actions %}
{% endblock actions %}
