{# timeouts #}
{% if lxc_deploy_timeout is undefined %}{% set lxc_deploy_timeout = 15 %}{% endif %}
{% if lxc_boot_timeout is undefined %}{% set lxc_boot_timeout = 5 %}{% endif %}
{% if lxc_install_fastboot_timeout is undefined %}{% set lxc_install_fastboot_timeout = 10 %}{% endif %}
{% if lxc_test_timeout is undefined %}{% set lxc_test_timeout = 60 %}{% endif %}
{% if target_deploy_timeout is undefined %}{% set target_deploy_timeout = 40 %}{% endif %}
{% if target_boot_timeout is undefined %}{% set target_boot_timeout = 15 %}{% endif %}
{% if test_timeout is undefined %}{% set test_timeout = 60 %}{% endif %}
{% set job_timeout = lxc_deploy_timeout + lxc_boot_timeout + lxc_install_fastboot_timeout + target_deploy_timeout + target_boot_timeout + test_timeout %}

{# auto_login_* #}
{% if AUTO_LOGIN_PROMPT is undefined %}{% set AUTO_LOGIN_PROMPT = "login:" %}{% endif %}
{% if AUTO_LOGIN_USERNAME is undefined %}{% set AUTO_LOGIN_USERNAME = "root" %}{% endif %}
{% if AUTO_LOGIN_PASSWORD_PROMPT is undefined %}{% set AUTO_LOGIN_PASSWORD_PROMPT = "" %}{% endif %}
{% if AUTO_LOGIN_PASSWORD is undefined %}{% set AUTO_LOGIN_PASSWORD = "" %}{% endif %}

{% block global_settings %}
timeouts:
  job:
    minutes: {% if job_timeout is defined %}{{ job_timeout }}{% else %}20{% endif %}
  connection:
    minutes: 2

{% if use_context is defined and use_context == true %}
context:
{% block context %}
{% endblock context %}
{% endif %}

{% block settings %}
{% endblock settings %}
{% endblock global_settings %}


device_type: {% block device_type %}{% endblock %}
{% if TAG_FIRMWARE is defined %}tags:
{% block tags %}{% endblock %}
{% endif %}
job_name: {% block job_name %}{% endblock %}
priority: {% block priority %}{{LAVA_JOB_PRIORITY}}{% endblock priority %}
visibility: {% block visibility %}{% if LAVA_JOB_VISIBILITY is undefined %}public{% else %}{{LAVA_JOB_VISIBILITY}}{% endif %}{% endblock visibility %}

{# variables #}
{% if rootfs is undefined %}{% set rootfs = true %}{% endif %}
{% if rootfs_label is undefined %}{% set rootfs_label = 'rootfs' %}{% endif %}

metadata:
{% block metadata %}
{% endblock metadata %}

{% block protocols %}
{% endblock protocols %}

actions:
{% block actions %}
{% endblock actions %}
