{% extends "master.jinja2" %}

{% set lxc_deploy_timeout = 0 %}
{% set lxc_boot_timeout = 0 %}
{% set lxc_install_fastboot_timeout = 0 %}

{% block actions %}

{% block deploy_target %}
- deploy:
    namespace: target
    timeout:
      minutes: {{ target_deploy_timeout }}
    to: tftp
    kernel:
      url: {{KERNEL_URL}}
{% if KERNEL_URL_COMP is defined %}
      compression: {{KERNEL_URL_COMP}}
{% endif %}
{% block kernel_extra_args %}
{% endblock kernel_extra_args %}
{% if RAMDISK_URL is defined %}
    ramdisk:
      url: {{RAMDISK_URL}}
{% if RAMDISK_URL_COMP is defined %}
      compression: {{RAMDISK_URL_COMP}}
{% endif %}
{% endif %}
{% if DTB_URL is defined %}
    dtb:
      url: {{DTB_URL}}
{% endif %}
{% if MODULES_URL is defined %}
    modules:
      url: {{MODULES_URL}}
{% if MODULES_URL_COMP is defined %}
      compression: {{MODULES_URL_COMP}}
{% endif %}
{% endif %}
{% if OPTEE_URL is defined %}
    optee:
      url: {{OPTEE_URL}}
{% endif %}
{% if UBOOT_URL is defined %}
    uboot:
      url: {{UBOOT_URL}}
{% endif %}
{% if rootfs == true %}
    {{ rootfs_label }}:
      url: {{ROOTFS_URL}}
{% if ROOTFS_URL_COMP is defined %}
      compression: {{ROOTFS_URL_COMP}}
{% endif %}
{% block rootfs_extra_args %}
{% endblock rootfs_extra_args %}
{% endif %}
    os: {{DEPLOY_OS}}
{% endblock deploy_target %}

{% block boot_target %}
- boot:
    namespace: target
{% if auto_login == true %}
{% include "include/boot_target/auto_login.jinja2" %}
{% block auto_login_commands %}
{% include "include/boot_target/auto_login_commands.jinja2" %}
{% endblock auto_login_commands %}
{% endif %}
{% include "include/boot_target/boot_os_prompt.jinja2" %}
{% include "include/boot_target/timeout_and_method.jinja2" %}
{% block boot_commands %}
{% include "include/boot_target/boot_commands.jinja2" %}
{% endblock boot_commands %}
{% endblock boot_target %}

{% block test_target %}
{% include "include/test_target.jinja2" %}
{% endblock test_target %}

{% endblock actions %}
