{% extends "master.jinja2" %}

{% set rootfs = true %}
{% set use_context = true %}
{% if rootfs_label is undefined %}{% set rootfs_label = "rootfs" %}{% endif %}
{% if DEPLOY_TARGET is undefined %}{% set DEPLOY_TARGET = "tmpfs" %}{% endif %}
{% if boot is undefined %}{% set boot = true %}{% endif %}
{% if BOOT_LABEL is undefined %}{% set BOOT_LABEL = "kernel" %}{% endif %}
{% if boot_method is undefined %}{% set boot_method = "qemu" %}{% endif %}
{% if apply_overlay is undefined %}{% set apply_overlay = "rootfs" %}{% endif %}
{% if target_boot_timeout is undefined %}{% set target_boot_timeout = 10%}{% endif %}
{% if auto_login is undefined %}{% set auto_login = true %}{% endif %}
{% if AUTO_LOGIN_USERNAME is undefined %}{% set AUTO_LOGIN_USERNAME = "root" %}{% endif %}

{% block global_settings %}
{{ super() }}
  guestfs_interface: virtio
{% endblock global_settings %}

{% block actions %}

{% block deploy_target %}
- deploy:
    timeout:
      minutes: {{ target_deploy_timeout }}
    to: {{ DEPLOY_TARGET }}
    namespace: target
    images:
{% if ptable == true %}
      ptable:
        url: {{PTABLE_URL}}
{% if PTABLE_URL_COMP is defined %}
        compression: {{PTABLE_URL_COMP}}
{% endif %}
{% if reboot_reset == true and DEPLOY_TARGET == "fastboot" %}
        reboot: hard-reset
{% endif %}
{% endif %}
{% if boot == true %}
      {{ BOOT_LABEL }}:
        url: {{BOOT_URL}}
{% block kernel_extra_args %}
{% endblock kernel_extra_args %}
{% if BOOT_URL_COMP is defined %}
        compression: {{BOOT_URL_COMP}}
{% endif %}
{% if reboot_reset == true and DEPLOY_TARGET == "fastboot" and BOOT_LABEL == "boot" %}
        reboot: hard-reset
{% endif %}
{% if apply_overlay == "bootimg" %}
        apply-overlay: true
{% endif %}
{% block boot_extra_args %}
{% endblock boot_extra_args %}
{% if BOOT_LABEL != "kernel" and KERNEL_URL is defined %}
      kernel:
        url: {{KERNEL_URL}}
{% if KERNEL_URL_COMP is defined %}
        compression: {{KERNEL_URL_COMP}}
{% endif %}
{% endif %}
{% endif %}
{% if DTB_URL is defined %}
      dtb:
        url: {{DTB_URL}}
{% endif %}
{% if MODULES_URL is defined %}
      modules:
        url: {{MODULES_URL}}
{% if MODULES_URL_COMP is defined %}
        compression: {{MODULES_URL_COMP}}
{% endif %}
{% endif %}
{% if rootfs == true %}
      {{ rootfs_label }}:
        url: {{ROOTFS_URL}}
{% if ROOTFS_URL_COMP is defined %}
        compression: {{ROOTFS_URL_COMP}}
{% endif %}
{% if apply_overlay == "rootfs" %}
        apply-overlay: true
{% endif %}
{% block rootfs_extra_args %}
{% endblock rootfs_extra_args %}
{% endif %}
    os: {{DEPLOY_OS}}
{% endblock deploy_target %}

{% block boot_target %}
- boot:
    namespace: target
{% if auto_login == true %}
{% include "include/boot_target/auto_login.jinja2" %}
{% block auto_login_commands %}
{% include "include/boot_target/auto_login_commands.jinja2" %}
{% endblock auto_login_commands %}
{% endif %}
{% include "include/boot_target/boot_os_prompt.jinja2" %}
{% include "include/boot_target/timeout_and_method.jinja2" %}
{% block boot_commands %}
{% include "include/boot_target/boot_commands.jinja2" %}
{% endblock boot_commands %}
{% endblock boot_target %}

{% block test_target %}
{% include "include/test_target.jinja2" %}
{% endblock test_target %}

{% endblock actions %}
