{#- vsyscall_suffix gets used in job_name and test name in the event #}
{#- that vsyscall_mode is set.                                       #}
{%- set vsyscall_suffix = "" %}
{%- if vsyscall_mode is defined %}
  {%- set vsyscall_suffix = "-vsyscall-mode-"+vsyscall_mode %}
{%- endif -%}
{% set test_name = "kselftest-" + testnames|join('-') + vsyscall_suffix %}
{% set use_context = true %}
{% if vsyscall_mode is defined %}
{% set EXTRA_KERNEL_ARGS = 'vsyscall={{vsyscall_mode}} ' + EXTRA_KERNEL_ARGS|default("") %}
{% endif %}

{% set KSELFTEST_PATH = KSELFTEST_PATH|default('/opt/kselftests/default-in-kernel') %}

{% set test_target_redirect_to_kmsg = test_target_redirect_to_kmsg|default(true) %}

{% extends "testcases/templates/master.jinja2" %}

{% block metadata %}
  {{ super() }}
{% for testname in testnames %}
  kselftest-{{testname}}__url: "{{KSELFTESTS_URL | default('unknown')}}"
  kselftest-{{testname}}__version: "{{KSELFTESTS_VERSION | default('unknown')}}"
  kselftest-{{testname}}__revision: "{{KSELFTESTS_REVISION | default('unknown')}}"
{% endfor %}
{% endblock metadata %}

{% block test_target %}
  {{ super() }}
    - from: inline
      repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: timesync-off
          description: "Disable systemd time sync services"
        run:
          steps:
          - systemctl stop systemd-timesyncd || true
      name: kselftest-timesync-off
      path: inline/timesync-off.yaml
{% for testname in testnames %}
    - repository: {{ TEST_DEFINITIONS_REPOSITORY }}
      from: git
{% if TDEFINITIONS_REVISION is defined %}
      revision: '{{ TDEFINITIONS_REVISION}}'
{% endif %}
{% if test_target_redirect_to_kmsg is defined and test_target_redirect_to_kmsg %}
      lava-signal: kmsg
{% endif %}
      path: automated/linux/kselftest/kselftest.yaml
      name: kselftest-{{testname|replace('.', '-')}}{{vsyscall_suffix}}
      parameters:
        TST_CMDFILES: '{{testname}}'
        KSELFTEST_PATH: {{KSELFTEST_PATH}}
        SKIPFILE: skipfile-lkft.yaml
        BOARD: '{{ DEVICE_TYPE }}'
        BRANCH: '{{ SKIPGEN_KERNEL_VERSION|default('default') }}'
        ENVIRONMENT: '{{ ENVIRONMENT|default("production") }}'
        SHARD_NUMBER: '{{ SHARD_NUMBER|default(1) }}'
        SHARD_INDEX: '{{ SHARD_INDEX|default(1) }}'
{% endfor %}
{% endblock test_target %}
