  git branch: {{KERNEL_BRANCH | default('')}}
  git repo: {{KERNEL_REPO | default('')}}
  git commit: {{KERNEL_COMMIT | default('')}}
  git describe: {{KERNEL_DESCRIBE | default('')}}
  kernel-config: {{KERNEL_CONFIG | default('defconfig')}}
  toolchain: {{TOOLCHAIN | default('unknown')}}
  build-url: {{BUILD_URL | default('')}}
