{% extends "master.jinja2" %}

{% set use_context = true %}

{% set DOCKER_IMAGE = DOCKER_IMAGE|default("debian:buster") %}
{% set ptable = ptable|default(false) %}
{% set PTABLE_LABEL = PTABLE_LABEL|default("ptable") %}
{% set reboot_reset = reboot_reset|default(false) %}
{% set reboot_to_fastboot = reboot_to_fastboot|default("false") %}
{% set boot = boot|default(true) %}
{% set BOOT_LABEL = BOOT_LABEL|default("boot") %}
{% set rootfs = rootfs|default(true) %}
{% set rootfs_label = rootfs_label|default("rootfs") %}
{% set apply_overlay = apply_overlay|default("rootfs") %}
{% set DEPLOY_TARGET = DEPLOY_TARGET|default("fastboot") %}
{% set pre_boot_command = pre_boot_command|default(true) %}
{% set pre_power_command = pre_power_command|default(true) %}
{% set pre_os_command = pre_os_command|default(true) %}
{% set auto_login = auto_login|default(true) %}
{% set boot_method = boot_method|default("fastboot") %}
{% set deploy_download_timeout = deploy_download_timeout|default(target_deploy_timeout) %}

{% DEPLOY_TARGET == "downloads" %}
{% set calc_target_deploy_timeout = deploy_download_timeout + target_deploy_timeout %}
{% else %}
{% set calc_target_deploy_timeout = target_deploy_timeout %}
{% endif %}

{% block global_settings %}
{{ super() }}
reboot_to_fastboot: {{ reboot_to_fastboot }}
{% endblock global_settings %}

{% block context %}
  test_character_delay: 10
{% endblock context %}

{% block actions %}
{% block deploy_target %}
- deploy:
{% if lxc_project == true %}
    namespace: target
{% endif %}
    timeout:
{% if DEPLOY_TARGET == "downloads" %}
      minutes: {{ deploy_download_timeout }}
{% else %}
      minutes: {{ target_deploy_timeout }}
{% endif %}
    to: {{ DEPLOY_TARGET }}
    images:
{% if rootfs == true %}
{% if ptable == true %}
      {{ PTABLE_LABEL }}:
        url: {{PTABLE_URL}}
{% if PTABLE_URL_COMP is defined %}
        compression: {{PTABLE_URL_COMP}}
{% endif %}
{% if reboot_reset == true and DEPLOY_TARGET == "fastboot" %}
        reboot: hard-reset
{% endif %}
{% endif %}
{% endif %}
{% if boot == true %}
      {{ BOOT_LABEL }}:
        url: {{BOOT_URL}}
{% block kernel_extra_args %}
{% endblock kernel_extra_args %}
{% if BOOT_URL_COMP is defined %}
        compression: {{BOOT_URL_COMP}}
{% endif %}
{% if reboot_reset == true and DEPLOY_TARGET == "fastboot" and BOOT_LABEL == "boot" %}
        reboot: hard-reset
{% endif %}
{% if apply_overlay == "bootimg" %}
        apply-overlay: true
{% endif %}
{% block boot_extra_args %}
{% endblock boot_extra_args %}
{% if BOOT_LABEL != "kernel" and KERNEL_URL is defined %}
      kernel:
        url: {{KERNEL_URL}}
{% if KERNEL_URL_COMP is defined %}
        compression: {{KERNEL_URL_COMP}}
{% endif %}
{% endif %}
{% endif %}
{% if DTB_URL is defined %}
      dtb:
        url: {{DTB_URL}}
{% endif %}
{% if MODULES_URL is defined %}
      modules:
        url: {{MODULES_URL}}
{% if MODULES_URL_FORMAT is defined %}
        format: {{MODULES_URL_FORMAT}}
{% endif %}
{% if MODULES_URL_COMP is defined %}
        compression: {{MODULES_URL_COMP}}
{% endif %}
{% endif %}
{% if rootfs == true %}
      {{ rootfs_label }}:
        url: {{ROOTFS_URL}}
{% if ROOTFS_URL_FORMAT is defined %}
        format: {{ROOTFS_URL_FORMAT}}
{% endif %}
{% if ROOTFS_URL_COMP is defined %}
        compression: {{ROOTFS_URL_COMP}}
{% endif %}
{% if apply_overlay == "rootfs" %}
        apply-overlay: true
{% endif %}
{% block rootfs_extra_args %}
{% endblock rootfs_extra_args %}
{% if OVERLAY_MODULES_URL is defined or OVERLAY_KSELFTEST_URL is defined or OVERLAY_PERF_URL is defined %}
        overlays:
{% endif %}
{% if OVERLAY_MODULES_URL is defined %}
          modules:
            url: {{OVERLAY_MODULES_URL}}
            path: /
{% if OVERLAY_MODULES_URL_FORMAT is defined %}
            format: {{OVERLAY_MODULES_URL_FORMAT}}
{% endif %}
{% if OVERLAY_MODULES_URL_COMP is defined %}
            compression: {{OVERLAY_MODULES_URL_COMP}}
{% endif %}
{% endif %}
{% if OVERLAY_KSELFTEST_URL is defined %}
          kselftest:
            url: {{OVERLAY_KSELFTEST_URL}}
            path: {{KSELFTEST_PATH|default("/opt/kselftest_intree")}}
{% if OVERLAY_KSELFTEST_URL_FORMAT is defined %}
            format: {{OVERLAY_KSELFTEST_URL_FORMAT}}
{% endif %}
{% if OVERLAY_KSELFTEST_URL_COMP is defined %}
            compression: {{OVERLAY_KSELFTEST_URL_COMP}}
{% endif %}
{% endif %}
{% if OVERLAY_PERF_URL is defined %}
          perf:
            url: {{OVERLAY_PERF_URL}}
            path: {{PERF_PATH|default("/")}}
{% if OVERLAY_PERF_URL_FORMAT is defined %}
            format: {{OVERLAY_PERF_URL_FORMAT}}
{% endif %}
{% if OVERLAY_PERF_URL_COMP is defined %}
            compression: {{OVERLAY_PERF_URL_COMP}}
{% endif %}
{% endif %}
{% endif %}
    os: {{DEPLOY_OS}}
{% if lxc_project == false %}
    postprocess:
      docker:
        image: {{DOCKER_IMAGE}}
{% endif %}
{% endblock deploy_target %}

{% block pre_boot_command %}
{% include "include/boot_target/pre_boot_commands.jinja2" %}
{% endblock pre_boot_command %}

{% block boot_target %}
- boot:
{% if lxc_project == true %}
    namespace: target
{% endif %}
{% block boot_commands %}
{% endblock boot_commands %}
{% if auto_login == true %}
{% include "include/boot_target/auto_login.jinja2" %}
{% block auto_login_commands %}
{% include "include/boot_target/auto_login_commands.jinja2" %}
{% endblock auto_login_commands %}
{% endif %}
{% include "include/boot_target/boot_os_prompt.jinja2" %}
{% include "include/boot_target/timeout_and_method.jinja2" %}
{% if FASTBOOT_COMMANDS is defined %}
    commands:
{% for fcmd in FASTBOOT_COMMANDS %}
      - {{ fcmd }}
{% endfor %}
{% endif %}
{% if lxc_project == true and pre_os_command is defined and pre_os_command == true %}
    protocols:
      lava-lxc:
      - action: auto-login-action
        request: pre-os-command
        timeout:
          minutes: 2
{% endif %}
{% endblock boot_target %}

{% block post_boot_command %}
{% include "include/boot_target/post_boot_command.jinja2" %}
{% endblock post_boot_command %}

{{ super() }}

{% if lxc_project == true %}
{% block test_lxc %}
{% endblock test_lxc %}
{% endif %}

{% endblock actions %}
