{% set use_docker_image_for_test_target = use_docker_image_for_test_target|default(false) %}

{% if enable_tests is defined and enable_tests %}
- test:
{% if use_docker_image_for_test_target == true %}
    docker:
      image: {{ DOCKER_IMAGE }}
{% endif %}
{% if lxc_project == true %}
    namespace: target
{% endif %}
    timeout:
      minutes: {{ test_timeout }}
{% if test_target_interactive is undefined %}
    definitions:
{% else %}
    interactive:
{% endif %}
{% endif %}
