{% if enable_tests is defined and enable_tests %}
- test:
    timeout:
      minutes: {{ test_timeout }}
{% if test_target_interactive is undefined %}
    definitions:
{% else %}
    interactive:
{% endif %}
{% endif %}
