{% extends device_type %}

{% set PROJECT_NAME = PROJECT_NAME|default("") %}
{% set BUILD_NUMBER = BUILD_NUMBER|default("") %}
{% set KERNEL_BRANCH = KERNEL_BRANCH|default("") %}
{% set OS_INFO = OS_INFO|default("") %}

{% block job_name %}{{PROJECT_NAME}}-{{OS_INFO}}-{{test_name}}-{{KERNEL_BRANCH}}-{{BUILD_NUMBER}}{% endblock job_name %}

{% block context %}
{{ super() }}
  {%- if extra_kernel_args is defined %}
  extra_kernel_args: '{{extra_kernel_args}}'
  {%- endif %}
{% endblock context %}

{% block metadata %}
  {{ super() }}
{% endblock metadata %}
