{% extends device_type %}

{% set job_timeout = 25 %}
{% block metadata %}
  {{ super() }}
{% endblock metadata %}

{% block job_name %}lkft-network-basic-tests-{{KERNEL_BRANCH}}-{{BUILD_NUMBER}}{% endblock job_name %}

{% block test_target %}
  {{ super() }}
    - repository: https://github.com/Linaro/test-definitions.git
      from: git
      path: automated/linux/network-basic/network-basic.yaml
      name: network-basic-tests
      parameters:
        SKIP_INSTALL: "true"
        NFS: "true"
{% endblock test_target %}
