{% extends "testcases/master/template-master.jinja2" %}

{% set test_timeout = 75 %}
{% block metadata %}
  {{ super() }}
  ssuite__url: "{{SSUITE_URL | default('unknown')}}"
  ssuite__version: "{{SSUITE_VERSION | default('unknown')}}"
  ssuite__revision: "{{SSUITE_REVISION | default('unknown')}}"
{% endblock metadata %}

{% set test_name = "ssuite" %}

{% block test_target %}
  {{ super() }}
    - repository: https://github.com/Linaro/test-definitions.git
      from: git
      path: automated/linux/ssuite/ssuite-bench.yaml
      name: ssuite
      parameters:
        SKIP_INSTALL: "true"
        NUM_REPETITIONS: '{{num_repetitions}}'
        TESTS: '{{testnames}}'
        TEST_DEV: "'{{testdevnames}}'"
        S_PATH: '{{s_path}}'
{% endblock test_target %}
