{% extends "testcases/master/template-test.jinja2" %}

{% set use_context = true %}

{% set extra_kernel_args = 'kvm.enable_vmware_backdoor=1 kvm.force_emulation_prefix=1' + extra_kernel_args|default("") %}

{% set test_timeout = 25 %}
{% block metadata %}
  {{ super() }}
  kvm-unit-tests__url: 'https://gitlab.com/kvm-unit-tests/kvm-unit-tests.git'
{% endblock metadata %}

{% set test_name = "kvm-unit-tests" %}
{% set test_path_file = 'automated/linux/kvm-unit-tests/kvm-unit-tests.yaml' %}

{% block test_target %}
  {{ super() }}
      parameters:
        SKIP_INSTALL: 'true'
        SMP: {% if device_type == "juno-r2" %}'false'{% else %}'true'{% endif %}
        GIT_REF: "{{KVM_UNIT_TESTS_REVISION | default('a3d5d6b9333e10898852b96311c3d3db0baf5a4e')}}"
{% endblock test_target %}
