{% extends "testcases/master/template-master.jinja2" %}

{% set use_context = true %}

{% set extra_kernel_args = 'kvm.enable_vmware_backdoor=1 kvm.force_emulation_prefix=1' + extra_kernel_args|default("") %}

{% set test_timeout = 25 %}
{% block metadata %}
  {{ super() }}
  kvm-unit-tests__url: 'https://git.kernel.org/pub/scm/virt/kvm/kvm-unit-tests.git'
{% endblock metadata %}

{% set test_name = "kvm-unit-tests" %}

{% block test_target %}
  {{ super() }}
    - repository: https://github.com/Linaro/test-definitions.git
      from: git
      path: automated/linux/kvm-unit-tests/kvm-unit-tests.yaml
      name: kvm-unit-tests
      parameters:
        SKIP_INSTALL: 'true'
        SMP: {% if DEVICE_TYPE == "juno-r2" %}'false'{% else %}'true'{% endif %}
        GIT_REF: "{{KVM_UNIT_TESTS_REVISION | default('40f559bc572e355cadef513ec41fe114e9a8394e')}}"
{% endblock test_target %}
