{#- vsyscall_suffix gets used in job_name and test name in the event #}
{#- that vsyscall_mode is set.                                       #}
{%- set vsyscall_suffix = "" %}
{%- if vsyscall_mode is defined %}
  {%- set vsyscall_suffix = "-vsyscall-mode-"+vsyscall_mode %}
{%- endif -%}
{% set test_name = "kselftests" + vsyscall_suffix %}

{% extends "testcases/master/template-master.jinja2" %}

{% block global_settings %}
{{ super() }}
  {#- If vsyscall_mode is defined, pass it as an extra kernel argument #}
  {#- vsyscall_mode may be emulate (default), native, or none.         #}
  {%- if vsyscall_mode is defined %}
  extra_kernel_args: 'vsyscall={{vsyscall_mode}}'
  {%- endif %}
{% endblock global_settings %}

{% set test_timeout = 55 %}
{% block metadata %}
  {{ super() }}
  kselftest__url: "{{KSELFTESTS_URL | default('unknown')}}"
  kselftest__version: "{{KSELFTESTS_VERSION | default('unknown')}}"
  kselftest__revision: "{{KSELFTESTS_REVISION | default('unknown')}}"
{% endblock metadata %}

{% block test_target %}
  {{ super() }}
    - from: inline
      repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: timesync-off
          description: "Disable systemd time sync services"
        run:
          steps:
          - systemctl stop systemd-timesyncd || true
      name: timesync-off
      path: inline/timesync-off.yaml
    - repository: https://github.com/Linaro/test-definitions.git
      from: git
      revision: '{{ TDEFINITIONS_REVISION }}'
      path: automated/linux/kselftest/kselftest.yaml
      name: kselftest{{vsyscall_suffix}}
      parameters:
        KSELFTEST_PATH: {{KSELFTEST_PATH}}
        SKIPFILE: skipfile-lkft.yaml
        BOARD: '{{ DEVICE_TYPE }}'
        BRANCH: '{{ KERNEL_VERSION_OVERRIDE|default(KERNEL_VERSION) }}'
        ENVIRONMENT: '{{ ENVIRONMENT|default("production") }}'
{% endblock test_target %}
