{% extends "fastboot.jinja2" %}

{% block metadata %}
{% include PROJECT+"include/lkft-metadata.jinja2" %}
{% endblock metadata %}

{% block deploy_target %}
{{ super() }}
{% if DEPLOY_TARGET == "download" %}
- test:
    namespace: tlxc
    timeout:
      minutes: {{ lxc_test_timeout }}
    definitions:
    - from: inline
      name: kir
      path: inline/kir.yaml
      repository:
        metadata:
          description: Squash kernel, dtb and modules into rootfs
          format: Lava-Test Test Definition 1.0
          name: resize-rootfs
        run:
          steps:
          - pwd
          - cd /lava-lxc
          - git clone -b 20200115 https://github.com/linaro/kir.git
          - ./kir/lava/board_setup.sh {{DEVICE_TYPE}}

- deploy:
    timeout:
      minutes: {{ target_deploy_timeout }}
    to: fastboot
    namespace: target
    images:
{% if ptable == true %}
      ptable:
        url: lxc:///{{LXC_PTABLE_FILE}}
{% if reboot_reset == true %}
        reboot: hard-reset
{% endif %}
{% endif %}
{% if boot == true and BOOT_LABEL != "kernel" %}
      boot:
        url: lxc:///{{LXC_BOOT_FILE}}
{% if reboot_reset == true %}
        reboot: hard-reset
{% endif %}
{% endif %}
{% if rootfs == true %}
      {{ rootfs_label }}:
        url: lxc:///{{LXC_ROOTFS_FILE}}
        apply-overlay: true
{% endif %}
    os: {{DEPLOY_OS}}
{% endif %}
{% endblock deploy_target %}
