{% extends "qemu.jinja2" %}

{% block metadata %}
{% include PROJECT+"include/lkft-metadata.jinja2" %}
{% endblock metadata %}

{% if DEVICE_TYPE == 'qemu_arm' %}
{# libhugetlbfs_word_size variable is required for libhugetlbfs.yaml test template #}
{% set libhuggetlbfs_word_size = 32 %}
{% if AUTO_LOGIN_PROMPT is undefined %}{% set AUTO_LOGIN_PROMPT = "am57xx-evm login:" %}{% endif %}
{% if BOOT_OS_PROMPT is undefined %}{% set BOOT_OS_PROMPT = "root@am57xx-evm:" %}{% endif %}
{% if target_boot_timeout is undefined %}{% set target_boot_timeout = 15 %}{% endif %}
{% set smp_core_count = "2" %}
{% endif %}

{% if smp_core_count is undefined %}{% set smp_core_count = 4 %}{% endif %}

{% block rootfs_extra_args %}
        {{ super() }}
        image_arg: -drive format=raw,file={rootfs},if=virtio -m 4096 -smp {{ smp_core_count }} -nographic
{% endblock rootfs_extra_args %}

{% block test_target %}
  {{ super() }}
    - from: inline
      repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: prep-tmp-disk
          description: "Link /scratch to /tmp"
        run:
          steps:
            - df -h
            - ln -s /tmp /scratch
      name: prep-tmp-disk
      path: inline/prep.yaml
{% endblock test_target %}
